<div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
				  <div class="map">
					<iframe width="100%" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=volos&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						</iframe>
				  </div>

				</div>
				<div class="col-md-5">
					<p class="m_8">Our shop is located in Volos,Greece.Dont be afraid to contact with us if any issue comes up.For orders,please email us first and we will contact you back in 1-2 working days.</p>
					<div class="address">
				                <p>Gklavani 32</p>
						   		<p>Volos</p>
						   		<p>Greece</p>
				   		<p>Phone:(30) 222 666 444</p>
				   		<p>Fax: (000) 000 00 00 0</p>
				 	 	<p>Email: <span>support[at]shoes.com</span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
				   </div>
				</div>
			</div>
	     </div>
	   </div>
</div>