<div class="main">
	<div class="shop_top">
		<div class="container">
			<div class="row team_box">
				<h3 class="m_2">Our Team</h3>
				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="assets/images/team1.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
							<h2>Dimitri </h2>
							<p>Dimitri is an experienced engineer and web developer with 10 years in the bussiness</p>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Dimitri</a></h4>
					<p class="m_6">Web developer</p>
				</div>

				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="assets/images/team2.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
							<h2>George </h2>
							<p>George is an experienced engineer and web developer with 10 years in the bussiness</p>
						</div>
					</div>
					<h4 class="m_5"><a href="#">George</a></h4>
					<p class="m_6">Web devoper</p>
				</div>

				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="assets/images/team3.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
							<h2>Nikos and Katerina</h2>
							<p>Nikos and Katerina are salesman in our shop in Volos</p>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Nikos and Katerina</a></h4>
					<p class="m_6">Salesman</p>
				</div>

				<div class="col-md-3 team1">
					<a class="popup-with-zoom-anim" href="#small-dialog3"><img src="assets/images/team4.jpg" class="img-responsive" title="continue" alt=""/></a>
					<div id="small-dialog3" class="mfp-hide">
						<div class="pop_up2">
							<h2>Maria </h2>
							<p>Maria is the store manager</p>
						</div>
					</div>
					<h4 class="m_5"><a href="#">Maria</a></h4>
					<p class="m_6">Store manager</p>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4 team_bottom">
					<ul class="team_list">
					<h4>Advantages</h4>
					<li><a href="#">Flexible hours</a><p>Work from home as a web developer,organize your program with your co workers</p></li>
					<li><a href="#">Nice bonuses</a><p>Sales equal bonuses</p></li>
					<li><a href="#">Part of an experienced team</a><p>Every member of our group has at least 5+ years exprerience</p></li>
					</ul>
				</div>
				<div class="col-md-8">
					<ul class="team_list">
						<h4>Vision Statement</h4>
						<p class="m_7">Sports is our passion and we want to provide the best shoes for every athlete</p>
						<img src="assets/images/img30.jpg" height="250" width="370" class="img-responsive" alt=""/>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>