<div class="main">
	<div class="shop_top">
		<div class="container"> 
			<div class="row shop_box-top">
				<div class="col-md-12 shop_box">
					<div ng-repeat="order1 in order.orders">
						<div class="col-md-12 shop_box">
							<h2>Name : {{order1.firstname}} </h2>
							<span class="actual">-Lastname :{{order1.lastname}}</span><br>
							<span class="actual">-Shipping Address :{{order1.shippingaddress}}</span><br>
							<span class="actual">-PostalCode :{{order1.postalcode}}</span><br>
							<span class="actual">-Phonenumber :{{order1.phonenumber}}</span><br>
							<div ng-repeat="product in order1.products">
								<div ng-repeat="inside_product in product.products">
									<p>New product</p>
									<span class="actual">-Brand:{{inside_product.brand}}</span><br>
									<span class="actual">-Size:{{inside_product.size}}</span><br>
									<span class="actual">-Name:{{inside_product.name}}</span><br>
									<span class="actual">-Quantity:{{inside_product.quantity}}</span><br>
									<span class="actual">-Price:{{inside_product.price}}</span><br>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	